@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    --cabecalho-roda-pe: #1C1818;
    --cor-btn: snow;
}

html {
    font-size: 62.5%;

}



.btn {
    font-family: "Lato", sans-serif;
    text-decoration: none;
    font-size: 1.8rem;
    color: var(--cor-btn);
    border: 1px solid #0276FE;
    background-color: inherit;
    padding: 1em;
}

.cabecalho {
    background-color: var(--cabecalho-roda-pe);
    width: 100%;
    height: 120px;
    position: sticky;
    top: 0;
    left: 0;
}

.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto 5em;
}

.container-header img {
    width: 120px;
    height: 120px;
}

.container-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.6em;
    padding: 5em 10em;
    margin: 0;
}

.container-max-width {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 60em;
    margin: 1em 2em;

}

.container-img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    width: 140px;
    height: 340px;
}


.cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    color: snow;
    padding: 5em;
    background-color: #201f1f;
}

.cards p {
    font-size: 2.2rem;
    margin-top: 10px;
}

.cards h2 {
    font-size: 4rem;
    margin: 0;
}

.cards a {
    margin: 0;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 1em;
}

nav a {
    padding: 1rem;
    font-family: "Lato", sans-serif;
    text-decoration: none;
    font-size: 1.8rem;
    color: #0276FE;
    border: 1px solid;
    transition-duration: .5s;
}

nav a:hover {
    font-family: "Lato", sans-serif;
    text-decoration: none;
    font-size: 2rem;
    background-color: #0276FE;
    border-color: #0276FE;
    color: #fafafa;
    width: 4em;
}