:root {
    --cor-pradao: #3a68b7;
    --txt-padrao: font-family: "Roboto", sans-serif,
        font-weight: 300,
        font-style: normal;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: var(--cor-pradao);
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.formulario {
    background-color: white;
    width: 30em;
    padding: 2em;
    box-shadow: -10px 0 2px rgba(0, 0, 0, .3);
}

.fieldset {
    border: none;
    padding: none;
    margin: none;
}

.legend {
    color: var(--cor-pradao);
    margin-bottom: 1em;
    font-size: 2em;
}

.input__usuario,
.input__senha,
.input__email,
.label_usuario,
.label_email,
.label_senhas {
    display: block;
    width: 100%;
    padding-bottom: 0.75em;
    box-sizing: border-box;
    font-family: var(--txt-padrao);
}

.login__cadastro {
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 1.2em;
}

.esqueceu__senha {
    margin-left: auto;
}

.label_usuario,
.label_email,
.label_senhas {
    font-size: 1.2em;
}

.input__usuario,
.input__email,
.input__senha {
    border: 2px solid transparent;
    border-bottom: 1px solid var(--cor-pradao);
    margin-top: 0.90em;
    height: 35px;
    font-size: 1em;
}

.input__usuario:focus,
.input__email:focus,
.input__senha:focus {
    outline: 1px solid var(--cor-pradao);
}

.btn {
    background-color: var(--cor-pradao);
    border: none;
    color: white;
    font-size: 1em;
    padding: .9em;
    border-radius: 2px;
    font-family: 'Roboto', sans-serif;
    width: fit-content;
    text-decoration: none;
    text-transform: uppercase;
}

.login__cadastro .cadastrar {
    font-family: 'Roboto', sans-serif;
    color: var(--cor-pradao);
    text-decoration: none;
}

.cadastrar {
    margin-left: 1em;
    margin-right: auto;
    text-transform: uppercase;
}

.login__cadastro .esqueceu__senha {
    font-size: 0.75em;
    margin: 0;
}

.span {
    color: black;
    font-size: 0.75em;
    margin-left: auto;
}