body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
   
}
.form__menu img{
    display: block;
    width: 200px;
    padding-bottom: .5em;
}

fieldset{
    padding: 1.5em;
}

.ver__mais{
    margin-left: 35%;
}
