.custom-select {
    position: relative;
    max-width: 100%;
    min-width: 125px;
    font-family: var(--fonte-principal);
}

.select-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 100%;
    column-gap: 5px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.selected-value {
    text-align: left;
    font-family: var(--fonte-principal);
    font-size: 1.05rem;
}

.arrow {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #000;
    transition: transform ease-in-out 0.3s;
}

.select-dropdown {
    position: absolute;
    list-style: none;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    background-color: var(--cor-principal);
    border: 1px solid #caced1;
    border-radius: 4px;
    padding: 5px;
    margin-top: 10px;
    max-height: 200px;
    overflow-y: auto;
    transition: 0.5s ease;
    width: max-content;
    transform: scaleY(0);
    opacity: 0;
    visibility: hidden;
}

.select-dropdown:focus-within {
    box-shadow: 0 10px 25px rgba(94, 108, 233, 0.6);
}

.select-dropdown li {
    position: relative;
    cursor: pointer;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.select-dropdown li label {
    width: 100%;
    padding: 5px 5px;
    cursor: pointer;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.select-dropdown::-webkit-scrollbar {
    width: 7px;
}

.select-dropdown::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 25px;
}

.select-dropdown::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 25px;
}

.select-dropdown li:hover,
.select-dropdown input:checked~label {
    background-color: #f2f2f2;
}

.select-dropdown input:focus~label {
    background-color: #dfdfdf;
}

.select-dropdown input[type="radio"] {
    position: absolute;
    left: 0;
    opacity: 0;
}

/* interactivity */
.custom-select.active .arrow {
    transform: rotate(180deg);
}

.custom-select.active .select-dropdown {
    opacity: 1;
    visibility: visible;
    transform: scaleY(1);
}