
:root{
    --cor-principal: #fcefe6;    
    --fonte-principal: "New Amsterdam", sans-serif;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--cor-principal);
}

h1{
    font-family: var(--fonte-principal);
    margin: 0;
}

h2{
    font-family: var(--fonte-principal);
    font-weight: 100;
}

h3{
    font-family: var(--fonte-principal);
    margin: 10px;
}

.main__header{
    position: static;
    background-color: var(--cor-principal);
    display: flex;
    padding: .75em;
    justify-content: space-between;
    border-bottom: 1px solid #1c1c1c;
}

.main__header img{
    display: inline-block;
    vertical-align: middle;
}

.nav__main-bar{
    display: flex;
    flex-direction: row;
}

.nav__main-bar ul, li{
    display: inline-block;
}

.link__main-bar{
    color: black;
    text-decoration: none;
    border: .2em solid black;
    padding: .75em;
    border-radius: .4em;
    background-color: white;
    box-shadow: 0 4px black;
    cursor: pointer;
    font-family: var(--fonte-principal);
}

.cardapio{
    padding: .55em;
    display: block;
    width: 5em;
    position: relative;
    margin-top: 1em;
}

.nav__test{
    display: flex;
    justify-content: center;
    align-items: center;
}

.pedido__mains{
    border: none;
    background-color: var(--cor-principal);
   
}
.pedido__mains option{
    background-color: var(--cor-principal);
    border: none;
    border-radius: 1em;
}

.main__content{
    font-size: 2.3em;
    text-align: center;
    margin-top: auto;
}

.article__content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.article__highlight{
    margin-top: 2em;
    background-color: #1c1c1c;
    padding: .55em;
    margin-bottom: 1em;
}

.article__highlight h2{
    color: white;
}

.container__highlight-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: .75em;
}

.highlight__img{
    padding: .20em;
    border-radius: 5px;
    background-color: var(--cor-principal);
}

.hamburguer{
    width: 300px;
    border-radius: 5px;
}

.img__stars{
    width: 50px;
}

.img__stars2{
    width: 40px;
}

.article__place{
    background-color: var(--cor-principal);
    padding: 1em;
    width: 100%;
}

.container__places{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: row;
}

.img__places{
    display: block;
    width: 300px;
}

.cards__local{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.cards__item{
    border-radius: 5px;
    background-color: white;
    padding: .55em;
    outline: 5px solid #1c1c1c;
}

.cards__item h2{
    color: #1c1c1c;
    margin: 10px;
}
.cards__item img{
    width: 300px;
    border-radius: 2px;
}