:root{
    --cor-principal: #fcefe6;    
    --fonte-principal: "New Amsterdam", sans-serif;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--cor-principal);
}

h1{
    font-family: var(--fonte-principal);
    margin: 0;
}

h2{
    font-family: var(--fonte-principal);
    font-weight: 100;
}

h3{
    font-family: var(--fonte-principal);
    margin: 10px;
}

a{
    text-decoration: none;
}

.main__header{
    position: static;
    background-color: var(--cor-principal);
    display: flex;
    padding: .75em;
    justify-content: space-between;
    border-bottom: 1px solid #1c1c1c;
}

.main__header img{
    display: inline-block;
    vertical-align: middle;
}

.nav__main-bar{
    display: flex;
    flex-direction: row;
}

.nav__main-bar ul, li{
    display: inline-block;
    transition: 1s;
}

.nav__main-bar li:hover{
    transform: scale(1.2) translateX(-1px);
}

.link__main-bar{
    color: black;
    text-decoration: none;
    border: .2em solid black;
    padding: .75em;
    border-radius: .4em;
    background-color: white;
    box-shadow: 0 4px black;
    cursor: pointer;
    font-family: var(--fonte-principal);
}

.cardapio{
    padding: .55em;
    display: block;
    width: 5em;
    position: relative;
    margin-top: 1em;
    transition: 1s;
}

.cardapio:hover{
    transform: scale(1.2);
}

.nav__test{
    display: flex;
    justify-content: center;
    align-items: center;
}

.pedido__mains{
    border: none;
    background-color: var(--cor-principal);
   
}
.pedido__mains option{
    background-color: var(--cor-principal);
    border: none;
}

.main__content{
    font-size: 2.3em;
    text-align: center;
    margin-top: auto;
}

.article__content{
    margin-top: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.article__highlight{
    margin-top: 5em;
    margin-bottom: 5em;
    background-color: #1c1c1c;
    padding: .85em;
    margin-bottom: 1em;
}

.article__highlight h2{
    color: white;
}

.container__highlight-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: .75em;
}

.highlight__img{
    padding: .20em;
    border-radius: 5px;
    background-color: var(--cor-principal);
    transition: 1s;
}

.highlight__img:hover{
    transform: scale(1.1);
}

.hamburguer{
    width: 300px;
    border-radius: 5px;
}

.img__stars{
    width: 50px;
}

.img__stars2{
    width: 40px;
}

.article__place{
    background-color: var(--cor-principal);
    padding: 1em;
    width: 100%;
}

.container__places{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: row;
}

.img__places{
    display: block;
    width: 300px;
}

.cards__local{
    margin-top: 5em;
    margin-bottom: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    flex-basis: auto;
}

.cards__item{
    border-radius: 5px;
    background-color: white;
    padding: .55em;
    outline: 5px solid #1c1c1c;
    transition: 1s;
}

.cards__item:hover{
    transform: scale(1.1);
}

.cards__item h2{
    color: #1c1c1c;
    margin: 10px;
}
.cards__item img{
    width: 300px;
    border-radius: 2px;
}

.information{
    border-top: 3px solid #1c1c1c
}

.container__information{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5em;
    height: 12em;
    gap: 5em;
}


.container__information img{
    width: 144px;
    height: 120px;
}

.item__information{
    padding: 2em 5em 2em 5em;
    transition: background 1s;
}

.item__information:hover{
    background-color: hsla(0, 6%, 25%, 0.1);
    border-radius: 5px;
}


.sub-title__information{
    font-family: var(--fonte-principal);
    line-height: 110%; /*define a altura que o texto pode ocupar*/
    text-align: center;
    margin: 0;
}

.paragraph{
    text-align: center;
}

.container__social-midia{
    margin-top: 9em;
    padding: 1em;
    background-color: #1c1c1c; 
}
.title-social__midia{
    margin: 0;    
    color: white;
    font-family: var(--fonte-principal);
    font-size: 3rem;
}
ul.social__midia {
    list-style: none; /* Remove os marcadores de lista */
    padding: 0;       /* Remove o espaçamento padrão da lista */
    text-align: left; /* Alinha os itens da lista à esquerda */
    align-self: auto;
}

.social__midia{
    display: flex;
    flex-direction: column;
    display: inline-flex;
    list-style: none;
    color: white;
    gap: 5px;
    font-family: var(--fonte-principal);
    text-align: left;
}

.social__midia{
    flex: 1;
}

.social__midia svg{
    width: 50px;
    vertical-align: middle;
    margin: 0;
}

.social__midia a{
    color: white;
}

.p-developed{
    color: white;
    text-align: center;
    font-family: var(--fonte-principal);
}

footer{
    padding: 1em;
    background-color: #131313; 
}

/* Efeito pedidos 
.pedidos__img:hover{
    transform: translateX(80px) rotate(-45deg);
    z-index: 1;
}
*/